body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-color: #fac374;
  overflow: hidden;
}

.calculator {
  width: 300px;
  height: 420px;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 7px wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}

.operations {
  width: 100%;
}

.one,
.two,
.three,
.four,
.five {
  display: flex;
}

.text {
  height: 100px;
  color: white;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.special,
.operator,
.number {
  color: white;
  width: 64px;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  cursor: pointer;
}

.special:hover,
.operator:hover,
.number:hover,
.backspace:hover {
  opacity: 0.8;
}

.operator {
  background-color: #ff7a05;
}

.number {
  background-color: #98989c;
}

.special {
  background-color: #7d7c84;
}

.backspace {
  height: auto;
  cursor: pointer;
  border: none;
  background-color: #505050;
}

.backspace img {
  width: 30px;
}

#equal {
  border-bottom-right-radius: 20px;
  flex-grow: 0.23;
}

#zero {
  border-bottom-left-radius: 20px;
}
